@import "styles/mixins.scss";
@import "styles/theme.scss";

@keyframes rotate {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.HeaderSection {
  min-height: calc(100vh - 80px - 200px); // - header - margin-section
  padding: 40px 100px;
  box-shadow: 0 0 25rem 25rem rgba(1, 9, 10, 0.5);
  background: rgba(1, 9, 10, 0.5);

  @include lg {
    padding: 40px 40px;
  }

  @include sm {
    padding: 20px;
  }

  .HiddenEffect {
    opacity: 0;
  }

  .Content {
    padding: 40px;
    max-width: 70%;

    @include lg {
      padding: 0px;
      max-width: 80%;
    }

    @include md {
      max-width: 100%;
    }

    .Title {
      display: block;
      font-family: "Blessed Light";
      line-height: 1;
      font-weight: 900;
      font-size: 80px;
      color: $reverse-color;
      text-transform: lowercase;
      text-align: left;
      text-shadow: 0 0 8px $reverse-color;

      @include sm {
        font-size: 60px;
      }
    }

    .Space {
    }

    .Subtitle {
      display: block;
      margin: 0 auto;
      text-align: left;

      span {
        font-size: 24px;
        font-weight: bold;
        font-family: "Blessed Light";
        color: $reverse-color;
        text-shadow: 0 0 5px $dark-color;

        @include sm {
          font-size: 20px;
        }

        &:nth-of-type(even) {
          color: $primary-color;
        }
      }
    }

    .Description {
      margin-top: 40px;
      text-align: left;
      text-shadow: 0 0 5px $dark-color;

      @include sm {
        margin-top: 20px;
        font-size: 16px;
      }
    }

    .Buttons {
      margin: 40px 0px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 20px;

      .Button {
        background-color: transparent;
        box-shadow: 0 0 0.1rem $primary-color, 0 0 0.1rem #fff,
          0 0 0.2rem $primary-color, 0 0 0.2rem $primary-color,
          0 0 0.2rem $primary-color, inset 0 0 0.3rem $primary-color;
        @include focus;

        &:last-of-type {
          color: $dark-color;
          background-color: $primary-color;
          border-color: $primary-color;
          box-shadow: 0 0 0.1rem $primary-color, 0 0 0.1rem $reverse-color,
            0 0 0.2rem $primary-color, 0 0 0.2rem $primary-color,
            0 0 0.2rem $primary-color, inset 0 0 0.1rem $primary-color;
        }
      }
    }
  }
}
