@import "styles/mixins.scss";
@import "styles/variables.scss";

.AdvantagesSection {
  max-width: 100%;
  padding: 20px 200px;

  @include lg {
    padding: 20px 100px;
  }

  @include sm {
    padding: 20px;
  }

  .Layout {
    width: 100%;
    max-height: calc(100% - 100px);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include sm {
      min-width: 100%;
    }

    & > .Card {
      z-index: 1;
      flex: 1 0 calc(33% - 40px);
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 40px;
      border-radius: 3px 2px 14px 14px;
      border-top: 3px solid transparent;

      &:first-child {
        background-color: #{$dark-background-color}FF;
        border-color: $reverse-color;
        box-shadow: 0 -4px 6px -4px $reverse-color,
          inset 0px 2px 4px -4px $reverse-color;
        @include scrollVisible(".Visible", 0s, 1.5s, 200px);

        span {
          color: $dimmed-color;
        }

        .Highlight {
          color: $reverse-color;
        }
        .Icon {
          color: $reverse-color;
        }
      }

      &:nth-of-type(2) {
        background-color: #{$dark-background-color}FF;
        border-color: $primary-color;
        box-shadow: 0 -4px 6px -4px $primary-color,
          inset 0px 2px 4px -4px $primary-color;
        @include scrollVisible(".Visible", 0.25s, 1.5s, 200px);

        .Highlight {
          color: $primary-color;
        }
        .Icon {
          color: $reverse-color;
          background-color: $primary-color;
        }
      }

      &:last-child {
        background-color: #{$dark-background-color}FF;
        border-color: $accent-color;
        box-shadow: 0 -4px 6px -4px $accent-color,
          inset 0px 2px 4px -4px $accent-color;
        @include scrollVisible(".Visible", 0.5s, 1.5s, 200px);

        .Highlight {
          color: $accent-color;
        }
        .Icon {
          color: $reverse-color;
          background-color: $accent-color;
        }
      }

      @include md {
        flex: 0 0 100%;
      }

      .Content {
        @include md {
        }

        ul {
          list-style-type: none;

          li > div > span {
            text-align: left;
            display: flex;
            flex-direction: row;

            .Icon {
              margin-right: 10px;
            }

            div:not(.Icon) {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
