@import "styles/mixins.scss";

.Account {
  padding: 20px;

  .Badge {
    min-width: 80px;
  }

  .Buttons {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
