@import "styles/mixins.scss";
@import "styles/theme.scss";

.BakersPage {
  @include page;

  .Section {
    .Buttons {
      display: flex;
      justify-content: flex-end;

      .AccentButton {
        color: $dark-color;
        background-color: $accent-color;
        border-color: $accent-color;
        box-shadow: 0 0 0.1rem $accent-color, 0 0 0.1rem $accent-color,
          0 0 0.2rem $accent-color, 0 0 0.2rem $accent-color,
          0 0 0.2rem $accent-color, inset 0 0 0.1rem $accent-color;
        @include focus;

        &.Disabled {
          background-color: $dimmed-color;
          border-color: $dimmed-color;
          box-shadow: none;
        }
      }
    }
  }
}
