@import "styles/mixins.scss";
@import "styles/variables.scss";

.Footer {
  position: relative;
  min-height: 360px;
  background: #040e10;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  border-top: 0.1rem solid $reverse-color;
  box-shadow: 0 -8px 14px -10px $primary-color,
    inset 0px 8px 8px -8px $primary-color;
  padding: 100px;
  margin-top: 40px;

  @include md {
    padding: 80px 20px;
  }

  @include xs {
    padding: 40px 0px;
  }

  & > div {
    padding: 20px;

    .Title {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      font-family: "Blessed light";
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .Logo {
      height: 1em;
      margin-left: 0.5rem;
    }
  }
}
