@import "styles/mixins.scss";
@import "styles/variables.scss";

.BenefitsPath {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  transform-style: preserve-3d;
  transform: translate(-50%) rotateX(65deg) rotateZ(-45deg);

  & > div {
    flex: 1 0 calc(50% - 10px);
    transform: translate3d(0, 0, -400px);
    opacity: 0;
    transition: all 1.5s ease-in-out;

    @for $i from 1 through 8 {
      &:nth-of-type(2n + #{$i}) {
        z-index: 8 + $i;
      }

      &:nth-of-type(2n) {
        z-index: $i;
      }
    }
  }

  &.Visible {
    @for $i from 1 through 8 {
      & > div:nth-of-type(n + #{$i}) {
        transform: translate3d(0, 0, 0);
        transition-delay: $i * 0.25s;
        opacity: 1;
      }
    }
  }
}
