@import "styles/mixins.scss";
@import "styles/theme.scss";

.MeetingPointPage {
  @include page;

  .Tabs {
    margin: 40px 0px;

    & > div > div > button {
      font-family: "Blessed Light";
      font-size: 16px;
      padding: 28px 20px;

      @include xs {
        font-size: 12px;
      }
    }
    .BasketsSection {
      margin: 20px 0px;
    }
  }
}
