@import "styles/mixins.scss";
@import "styles/theme.scss";

.BasketPage {
  @include page;

  .Content {
    display: flex;
    gap: 64px;
    justify-content: space-between;

    @include lg {
      flex-wrap: wrap;
    }

    .BasketSection {
      position: relative;
      flex: 1 1 320px;
      max-width: calc(100% - 800px);

      @include lg {
        max-width: 480px;
      }

      @include md {
        max-width: 100%;
      }

      .BasketData {
        position: relative;

        .Basket > div {
          @include sm {
            padding: 20px 0px;
          }
        }
      }

      & > div {
        background-color: transparent;
      }

      .Controller {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0px 20px;

        & > div {
          flex: 1;
        }

        & > button {
          flex: 0;
        }
      }
    }

    .CrumbsSection {
      flex: 1 0 680px;

      @include md {
        max-width: 100%;
      }

      .CrumbTabs {
        padding: 20px;

        @include sm {
          padding: 20px 0px;
        }

        .CrumbsTimeLine {
          margin: 20px 0px;

          @include md {
            transform: scale(0.8);
            transform-origin: 0 0;
            width: calc(100% / 0.8);
          }

          @include xs {
            transform: scale(0.5);
            transform-origin: 0 0;
            width: calc(100% / 0.5);
          }
        }
      }
    }
  }
}
