$primary-color: #20c997;
$accent-color: #ff922b;
$dark-color: #020708;
$reverse-color: #ffffff;
$dimmed-color: #0c2a30;
$warning-color: #fa5252;

$primary-background-color: #01885f;
$accent-background-color: #947100;
$dark-background-color: #020708;
$reverse-background-color: #bdd9dd;

:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  darkColor: $dark-color;
  reverseColor: $reverse-color;
}
