@import "styles/mixins.scss";
@import "styles/theme.scss";

.BenefitsSection {
  position: relative;
  min-height: 800px;
  padding: 400px 140px 140px 140px;
  max-width: 100%;

  @include lg {
    padding: 400px 40px 40px 40px;
  }

  @include sm {
    padding: 400px 00px 40px 0px;
  }

  & > .BenefitsPath {
    position: absolute;
    top: -220px;
    left: 50%;
    width: 420px;
    margin: 0 auto;

    @include lg {
      transform: translate(-50%) rotateX(65deg) rotateZ(-45deg) scale(0.8);
    }

    @include sm {
      transform: translate(-50%) rotateX(65deg) rotateZ(-45deg) scale(0.6);
    }

    @include xs {
      transform: translate(-50%) rotateX(65deg) rotateZ(-45deg) scale(0.45);
    }
  }

  & > .BenefitDetail {
    min-height: 400px;
    margin: 60px;
    opacity: 0;

    @include sm {
      display: none;
    }

    &.Visible {
      opacity: 1;
    }
  }

  & > .Slider {
    position: relative;

    .BenefitDetail {
      margin: 0px auto;
      opacity: 1;

      @include sm {
        display: block;
      }

      & > div {
        min-height: 100%;
      }
    }
  }
}
