@import "styles/mixins.scss";
@import "styles/theme.scss";

.ExampleSection {
  padding: 0px 200px;
  box-shadow: 0 0 5rem 5rem rgba(1, 9, 10, 0.75);
  background: rgba(1, 9, 10, 0.75);
  @include focus;

  @include lg {
    padding: 20px;
  }

  .Content {
    .Title {
      text-align: left;

      & > div {
        font-family: "Blessed Light";
        font-size: 28px;
      }
    }

    .Description {
      text-align: left;
      white-space: pre-line;
    }
  }

  .Example {
    margin-top: 40px;
    padding: 40px 0px;
    text-align: center;

    & > div {
      font-family: "Blessed Light";
      width: fit-content;
      font-size: 28px;
      display: inline;
    }
  }

  .CrumbContainer {
    max-width: 100%;
    position: relative;

    .Crumb {
      position: absolute;
      display: block;
      min-width: 740px;
      top: 0px;
      left: 50%;
      transform: translate(-50%);

      @include md {
        transform: translate(-50%) scale(0.9);
      }

      @include sm {
        transform: translate(-50%) scale(0.6);
      }

      @include xs {
        transform: translate(-50%) scale(0.65);
      }
    }
  }
}
